{% extends 'base.html.twig' %}

{% block title %}Internal Notifications | List{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-12">
                            <h1>Welcome</h1>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur culpa
                                delectus
                                eos, minus nemo neque obcaecati placeat quam quisquam ullam?
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="form-group row">
                        <div class="col-4"></div>
                        <div class="col-md-4">
                            <input type="text" placeholder="Search" name="text"
                                   class="form-control">
                        </div>
                        <div class="col-4"></div>
                    </div>
                    <!-- Records List Start -->
                    <div class="records--list">
                        <table id="usersRoleList">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Message</th>
                                <th>From</th>
                                <th>To</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for notification in notifications %}
                                <tr>
                                    <td>{{ notification.internalNotificationId }}</td>
                                    <td>{{ notification.internalNotificationMessage }}</td>
                                    <td>{{ notification.internalNotificationFromName }}</td>
                                    <td>{{ notification.internalNotificationToName }}</td>
                                    <td>
                                        {% if notification.internalNotificationStatus.internalNotificationStatusMachineName != 'seen' %}
                                            <span class="fa fa-check text-green"></span>
                                        {% else %}
                                            <span class="fa fa-check text-green"></span><span
                                                class="fa fa-check text-green"></span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- Records List End -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
