
@font-face {
  font-family: 'AIranianSans';
  src: url('AIranianSans.eot?#iefix') format('embedded-opentype'),  url('AIranianSans.woff') format('woff'), url('AIranianSans.ttf')  format('truetype'), url('AIranianSans.svg#AIranianSans') format('svg');
  font-weight: normal;
  font-style: normal;
}
