{% extends 'base.html.twig' %}

{% block title %}Company | Edit{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-12">
                            <h1>Welcome</h1>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur culpa
                                delectus
                                eos, minus nemo neque obcaecati placeat quam quisquam ullam?
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-3">
                            <div class="form-group row">
                                <span class="label-text col-md-12 col-form-label ">Name</span>

                                <div class="col-md-12">
                                    <input type="text" name="text"
                                           placeholder=""
                                           value="Company Name"
                                           class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group row">
                                <span class="label-text col-md-12 col-form-label ">National code</span>
                                <div class="col-md-12">
                                    <input type="text" name="text"
                                           placeholder=""
                                           value="156162123"
                                           class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group row">
                                <span class="label-text col-md-12 col-form-label ">Registration Code</span>

                                <div class="col-md-12">
                                    <input type="text" name="text"
                                           placeholder=""
                                           value="123335664789"
                                           class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group row">
                                <span class="label-text col-md-12 col-form-label ">Economic Code</span>

                                <div class="col-md-12">
                                    <input type="text" name="text"
                                           placeholder=""
                                           value="123335664789"
                                           class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group row">
                                <span class="label-text col-md-12 col-form-label ">Email</span>

                                <div class="col-md-12">
                                    <input type="text" name="text"
                                           placeholder=""
                                           value="info@site.com"
                                           class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group row">
                                <span class="label-text col-md-12 col-form-label ">Telephone</span>

                                <div class="col-md-12">
                                    <input type="text" name="text"
                                           placeholder=""
                                           value="021-1254477788"
                                           class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group row">
                                <span class="label-text col-md-12 col-form-label ">Telephone</span>

                                <div class="col-md-12">
                                    <input type="text" name="text"
                                           placeholder=""
                                           value="021-1254477788"
                                           class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="row flex-nowrap mx-0">
                        <!-- Tab Content Start -->
                        <div class="tab-content col">
                            <!-- Tab Pane Start -->
                            <div class="tab-pane fade show active" id="tab1">
                                <div class="form-group row">
                                    <div class="col-4"></div>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Search" name="text"
                                               class="form-control">
                                    </div>
                                    <div class="col-4"></div>
                                </div>
                                <!---->
                                <div class="records--list">
                                    <table id="countriesList">
                                        <thead>
                                        <tr>
                                            <th>Global Token</th>
                                            <th>Name</th>
                                            <th>Mobile</th>
                                            <th>Phone</th>
                                            <th>Email</th>
                                            <th>Groups</th>
                                            <th>Company</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <a href="#" class="btn-link">#315321</a>
                                            </td>
                                            <td>
                                                Customer Name
                                            </td>
                                            <td>
                                                <a href="#" class="btn-link">+989125966246</a>
                                            </td>
                                            <td>
                                                <a href="#" class="btn-link">02196385274</a>
                                            </td>
                                            <td>
                                                <a href="#" class="btn-link">info@site.com</a>
                                            </td>
                                            <td>
                                                <span class="label label-info rounded">GP1</span>
                                                <span class="label label-info rounded">GP1</span>
                                                <span class="label label-info rounded">GP1</span>
                                            </td>
                                            <td>
                                                <span class="label label-info rounded">Company</span>
                                                <span class="label label-info rounded">Company</span>
                                                <span class="label label-info rounded">Company</span>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <!-- Tab Pane End -->
                        </div>
                        <!-- Tab Content End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Address Panel-->
    <div class="row">
        <div class="col-12">
            <div class="panel">
                <div class="panel-heading">
                    Address
                </div>
                <div class="panel-content">
                    <div class="row">
                        <div class="col-3">
                            <div class="form-group row">
                                <span class="label-text col-md-12 col-form-label ">Country</span>

                                <div class="col-md-12">
                                    <input type="text" name="text"
                                           placeholder="Company name"
                                           class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group row">
                                <span class="label-text col-md-12 col-form-label ">Province</span>

                                <div class="col-md-12">
                                    <input type="text" name="text"
                                           placeholder="123335664789"
                                           class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group row">
                                <span class="label-text col-md-12 col-form-label ">City</span>

                                <div class="col-md-12">
                                    <input type="text" name="text"
                                           placeholder="123335664789"
                                           class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group row">
                                <span class="label-text col-md-12 col-form-label ">Districts</span>

                                <div class="col-md-12">
                                    <input type="text" name="text"
                                           placeholder="123335664789"
                                           class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group row">
                                <span class="label-text col-md-12 col-form-label ">Postal Code</span>

                                <div class="col-md-12">
                                    <input type="text" name="text"
                                           placeholder="021-1254477788"
                                           class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group row">
                                <span class="label-text col-md-12 col-form-label ">Address</span>
                                <div class="col-md-12">
                                    <input type="text" name="text"
                                           placeholder="Address"
                                           class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group row">
                                <span class="label-text col-md-12 col-form-label ">Person</span>
                                <div class="col-md-12">
                                    <input type="text" name="text"
                                           placeholder="Person"
                                           class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group row">
                                <span class="label-text col-md-12 col-form-label ">Phone number</span>
                                <div class="col-md-12">
                                    <input type="text" name="text"
                                           placeholder="Phone number"
                                           class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group row">
                                <span class="label-text col-md-12 col-form-label ">Google Map</span>
                                <div class="col-md-12">
                                    <img src="../../images/matican_images/map.png" alt="" class="rounded">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="panel-content">
                    <div class="row">
                        <div class="col-3">
                            <div class="form-group row">
                                <span class="label-text col-md-12 col-form-label ">Country</span>

                                <div class="col-md-12">
                                    <input type="text" name="text"
                                           placeholder="Company name"
                                           class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group row">
                                <span class="label-text col-md-12 col-form-label ">Province</span>

                                <div class="col-md-12">
                                    <input type="text" name="text"
                                           placeholder="123335664789"
                                           class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group row">
                                <span class="label-text col-md-12 col-form-label ">City</span>

                                <div class="col-md-12">
                                    <input type="text" name="text"
                                           placeholder="123335664789"
                                           class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group row">
                                <span class="label-text col-md-12 col-form-label ">Districts</span>

                                <div class="col-md-12">
                                    <input type="text" name="text"
                                           placeholder="123335664789"
                                           class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group row">
                                <span class="label-text col-md-12 col-form-label ">Postal Code</span>

                                <div class="col-md-12">
                                    <input type="text" name="text"
                                           placeholder="021-1254477788"
                                           class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group row">
                                <span class="label-text col-md-12 col-form-label ">Address</span>
                                <div class="col-md-12">
                                    <input type="text" name="text"
                                           placeholder="Address"
                                           class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group row">
                                <span class="label-text col-md-12 col-form-label ">Person</span>
                                <div class="col-md-12">
                                    <input type="text" name="text"
                                           placeholder="Person"
                                           class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group row">
                                <span class="label-text col-md-12 col-form-label ">Phone number</span>
                                <div class="col-md-12">
                                    <input type="text" name="text"
                                           placeholder="Phone number"
                                           class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group row">
                                <span class="label-text col-md-12 col-form-label ">Google Map</span>
                                <div class="col-md-12">
                                    <img src="../../images/matican_images/map.png" alt="" class="rounded">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Address Panel-->
{% endblock %}
