{% extends 'base.html.twig' %}

{% block title %}Customer | Cart{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    Customer Name
                </div>
                <div class="panel-content">
                    {% include 'crm/customer/tab.html.twig' %}
                    <!-- Tab Content Start -->
                    <div class="tab-content">
                        <!-- Tab Pane Start Cart -->
                        <div class="tab-pane fade show active">
                            <div class="row">
                                <div class="col-12">
                                    <div class="panel">
                                        <div class="panel-content">
                                            <div class="form-group row">
                                                <div class="col-4"></div>
                                                <div class="col-md-4">
                                                    <input type="text" placeholder="Search" name="text"
                                                           class="form-control">
                                                </div>
                                                <div class="col-4"></div>
                                            </div>
                                            <!-- Records List Start -->
                                            <div class="records--list">
                                                <table id="table3">
                                                    <thead>
                                                    <tr role="row">
                                                        <th>Product Global Token</th>
                                                        <th>Product Name</th>
                                                        <th>Category</th>
                                                        <th>Added Date</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>
                                                            <a href="#" class="btn-link">#315321</a>
                                                        </td>
                                                        <td>
                                                            <a href="#" class="btn-link">Product Name</a>
                                                        </td>
                                                        <td>
                                                            <ul>
                                                                <li>Category</li>
                                                                <li>Category
                                                                    <ul>
                                                                        <li>Category</li>
                                                                        <li>Category
                                                                            <ul>
                                                                                <li>Category</li>
                                                                                <li>Category</li>
                                                                            </ul>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                        <td>1397/12/12</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- Records List End -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Tab Pane End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
