{% extends 'base.html.twig' %}

{% block title %}Customer | Comment{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    Customer Name
                </div>
                <div class="panel-content">
                    {% include 'crm/customer/tab.html.twig' %}
                    <!-- Tab Content Start -->
                    <div class="tab-content">
                        <!-- Tab Pane Start Comment -->
                        <div class="tab-pane fade show active">
                            <div class="row">
                                <div class="col-12">
                                    <div class="panel">
                                        <div class="panel-content">
                                            <div class="row">
                                                <ul class="panel-activity__list">
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-8">
                                                                <i class="activity__list__icon fas fa-question-circle"></i>
                                                                <div class="activity__list__body entry-content">
                                                                    <p>consectetur
                                                                        adipisicing elit. Voluptatibus ab a
                                                                        nostrum
                                                                        repudiandae
                                                                        dolorem ut quaerat veniam
                                                                        asperiores, rerum
                                                                        voluptatem
                                                                        magni dolores corporis! Molestiae
                                                                        commodi
                                                                        nesciunt
                                                                        a, repudiandae repellendus ea.</p>
                                                                </div>
                                                                <div class="activity__list__footer">
                                                                    <a href="#"><i
                                                                                class="far fa-link text-green"></i>Product
                                                                        Name</a>
                                                                    <span><i class="far fa-clock"></i>1397/12/12 | 12:12</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-2">
                                                                <ul class="list-unstyled">
                                                                    <li class="mb-1"><span
                                                                                class="label label-danger">Bad</span>
                                                                    </li>
                                                                    <li class="mb-1"><span
                                                                                class="label label-danger">Bad</span>
                                                                    </li>
                                                                    <li class="mb-1"><span
                                                                                class="label label-danger">Bad</span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-2">
                                                                <ul class="list-unstyled">
                                                                    <li class="mb-1"><span
                                                                                class="label label-success">Good</span>
                                                                    </li>
                                                                    <li class="mb-1"><span
                                                                                class="label label-success">Good</span>
                                                                    </li>
                                                                    <li class="mb-1"><span
                                                                                class="label label-success">Good</span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-8">
                                                                <i class="activity__list__icon fas fa-question-circle"></i>
                                                                <div class="activity__list__body entry-content">
                                                                    <p>consectetur
                                                                        adipisicing elit. Voluptatibus ab a
                                                                        nostrum
                                                                        repudiandae
                                                                        dolorem ut quaerat veniam
                                                                        asperiores, rerum
                                                                        voluptatem
                                                                        magni dolores corporis! Molestiae
                                                                        commodi
                                                                        nesciunt
                                                                        a, repudiandae repellendus ea.</p>
                                                                </div>
                                                                <div class="activity__list__footer">
                                                                    <a href="#"><i
                                                                                class="far fa-link text-green"></i>Product
                                                                        Name</a>
                                                                    <span><i class="far fa-clock"></i>1397/12/12 | 12:12</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-2">
                                                                <ul class="list-unstyled">
                                                                    <li class="mb-1"><span
                                                                                class="label label-danger">Bad</span>
                                                                    </li>
                                                                    <li class="mb-1"><span
                                                                                class="label label-danger">Bad</span>
                                                                    </li>
                                                                    <li class="mb-1"><span
                                                                                class="label label-danger">Bad</span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-2">
                                                                <ul class="list-unstyled">
                                                                    <li class="mb-1"><span
                                                                                class="label label-success">Good</span>
                                                                    </li>
                                                                    <li class="mb-1"><span
                                                                                class="label label-success">Good</span>
                                                                    </li>
                                                                    <li class="mb-1"><span
                                                                                class="label label-success">Good</span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-8">
                                                                <i class="activity__list__icon fas fa-question-circle"></i>
                                                                <div class="activity__list__body entry-content">
                                                                    <p>consectetur
                                                                        adipisicing elit. Voluptatibus ab a
                                                                        nostrum
                                                                        repudiandae
                                                                        dolorem ut quaerat veniam
                                                                        asperiores, rerum
                                                                        voluptatem
                                                                        magni dolores corporis! Molestiae
                                                                        commodi
                                                                        nesciunt
                                                                        a, repudiandae repellendus ea.</p>
                                                                </div>
                                                                <div class="activity__list__footer">
                                                                    <a href="#"><i
                                                                                class="far fa-link text-green"></i>Product
                                                                        Name</a>
                                                                    <span><i class="far fa-clock"></i>1397/12/12 | 12:12</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-2">
                                                                <ul class="list-unstyled">
                                                                    <li class="mb-1"><span
                                                                                class="label label-danger">Bad</span>
                                                                    </li>
                                                                    <li class="mb-1"><span
                                                                                class="label label-danger">Bad</span>
                                                                    </li>
                                                                    <li class="mb-1"><span
                                                                                class="label label-danger">Bad</span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-2">
                                                                <ul class="list-unstyled">
                                                                    <li class="mb-1"><span
                                                                                class="label label-success">Good</span>
                                                                    </li>
                                                                    <li class="mb-1"><span
                                                                                class="label label-success">Good</span>
                                                                    </li>
                                                                    <li class="mb-1"><span
                                                                                class="label label-success">Good</span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-8">
                                                                <i class="activity__list__icon fas fa-question-circle"></i>
                                                                <div class="activity__list__body entry-content">
                                                                    <p>consectetur
                                                                        adipisicing elit. Voluptatibus ab a
                                                                        nostrum
                                                                        repudiandae
                                                                        dolorem ut quaerat veniam
                                                                        asperiores, rerum
                                                                        voluptatem
                                                                        magni dolores corporis! Molestiae
                                                                        commodi
                                                                        nesciunt
                                                                        a, repudiandae repellendus ea.</p>
                                                                </div>
                                                                <div class="activity__list__footer">
                                                                    <a href="#"><i
                                                                                class="far fa-link text-green"></i>Product
                                                                        Name</a>
                                                                    <span><i class="far fa-clock"></i>1397/12/12 | 12:12</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-2">
                                                                <ul class="list-unstyled">
                                                                    <li class="mb-1"><span
                                                                                class="label label-danger">Bad</span>
                                                                    </li>
                                                                    <li class="mb-1"><span
                                                                                class="label label-danger">Bad</span>
                                                                    </li>
                                                                    <li class="mb-1"><span
                                                                                class="label label-danger">Bad</span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-2">
                                                                <ul class="list-unstyled">
                                                                    <li class="mb-1"><span
                                                                                class="label label-success">Good</span>
                                                                    </li>
                                                                    <li class="mb-1"><span
                                                                                class="label label-success">Good</span>
                                                                    </li>
                                                                    <li class="mb-1"><span
                                                                                class="label label-success">Good</span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-8">
                                                                <i class="activity__list__icon fas fa-question-circle"></i>
                                                                <div class="activity__list__body entry-content">
                                                                    <p>consectetur
                                                                        adipisicing elit. Voluptatibus ab a
                                                                        nostrum
                                                                        repudiandae
                                                                        dolorem ut quaerat veniam
                                                                        asperiores, rerum
                                                                        voluptatem
                                                                        magni dolores corporis! Molestiae
                                                                        commodi
                                                                        nesciunt
                                                                        a, repudiandae repellendus ea.</p>
                                                                </div>
                                                                <div class="activity__list__footer">
                                                                    <a href="#"><i
                                                                                class="far fa-link text-green"></i>Product
                                                                        Name</a>
                                                                    <span><i class="far fa-clock"></i>1397/12/12 | 12:12</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-2">
                                                                <ul class="list-unstyled">
                                                                    <li class="mb-1"><span
                                                                                class="label label-danger">Bad</span>
                                                                    </li>
                                                                    <li class="mb-1"><span
                                                                                class="label label-danger">Bad</span>
                                                                    </li>
                                                                    <li class="mb-1"><span
                                                                                class="label label-danger">Bad</span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-2">
                                                                <ul class="list-unstyled">
                                                                    <li class="mb-1"><span
                                                                                class="label label-success">Good</span>
                                                                    </li>
                                                                    <li class="mb-1"><span
                                                                                class="label label-success">Good</span>
                                                                    </li>
                                                                    <li class="mb-1"><span
                                                                                class="label label-success">Good</span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-8">
                                                                <i class="activity__list__icon fas fa-question-circle"></i>
                                                                <div class="activity__list__body entry-content">
                                                                    <p>consectetur
                                                                        adipisicing elit. Voluptatibus ab a
                                                                        nostrum
                                                                        repudiandae
                                                                        dolorem ut quaerat veniam
                                                                        asperiores, rerum
                                                                        voluptatem
                                                                        magni dolores corporis! Molestiae
                                                                        commodi
                                                                        nesciunt
                                                                        a, repudiandae repellendus ea.</p>
                                                                </div>
                                                                <div class="activity__list__footer">
                                                                    <a href="#"><i
                                                                                class="far fa-link text-green"></i>Product
                                                                        Name</a>
                                                                    <span><i class="far fa-clock"></i>1397/12/12 | 12:12</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-2">
                                                                <ul class="list-unstyled">
                                                                    <li class="mb-1"><span
                                                                                class="label label-danger">Bad</span>
                                                                    </li>
                                                                    <li class="mb-1"><span
                                                                                class="label label-danger">Bad</span>
                                                                    </li>
                                                                    <li class="mb-1"><span
                                                                                class="label label-danger">Bad</span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-2">
                                                                <ul class="list-unstyled">
                                                                    <li class="mb-1"><span
                                                                                class="label label-success">Good</span>
                                                                    </li>
                                                                    <li class="mb-1"><span
                                                                                class="label label-success">Good</span>
                                                                    </li>
                                                                    <li class="mb-1"><span
                                                                                class="label label-success">Good</span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
