.calculator {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    color: white;
    background: #22a7f0;
    height: 100vh;
    width: 20vw;
    left: -20vw;
    padding: 35px;
    direction: rtl;
    text-align: right;
    z-index: 1500;
}

.invoice {
    display: flex;
    flex-flow: column;
    width: 100%;
}

.invoice-row {
    display: flex;
    justify-content: space-between;
}

.calculator-button {
    position: absolute;
    width: 150px;
    height: 75px;
    background: #22a7f0;
    text-align: center;
    border-radius: 5px 5px 0 0;
    color: white;
    transform: rotate(90deg) translate(-50%, 75px);
    padding: 7px;
    left: 0;
    top: 50vh;
    z-index: 1500;
    /*border: solid black 1px;*/
}

.calculator-button.open {
    left: 20vw;
}

.calculator.open {
    left: 0vw;
}


/*installment*/


.installment-form {
    direction: rtl;
}

.page-choices {
    width: 120px;
}

.page-choices a {
    width: 100%;
}
.dir-rtl {
    direction: rtl;
    text-align: right;
}

.modal-header .close {
    margin: -1rem -1rem -1rem 0;
}

.calculator {
    position: relative;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    color: white;
    background: #22a7f0;
    left: 0;
    width: 100%;
    direction: rtl;
    text-align: right;
    z-index: 1500;
    height: auto;
}

@media (max-width: 768px) {
    .calculator {
        position: relative !important;
        display: flex !important;
        justify-content: center !important;
        flex-flow: column !important;
        align-items: center !important;
        color: white !important;
        background: #22a7f0 !important;
        left: 0 !important;
        width: 100% !important;
        direction: rtl !important;
        text-align: right !important;
        z-index: 1500 !important;
        height: auto !important;
        overflow-x: hidden;
        overflow-y: auto;
    }
}